{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    {{ include('header.html.twig') }}
    <section>
        <div class="relative flex h-screen w-full shadow mx-auto shadow-xl">
            <!-- Modal header -->
            <div class="bg-black flex flex-col items-center w-1/2 justify-center relative">
                <img src="{{ asset('build/images/art.5f9d2672.jpg') }}" class=" w-full h-full object-cover">

                <div class="flex flex-col absolute bottom-5 left-1/5">
                    <span class="text-black text-center font-semibold text-xl items-center italic w-3/4 mx-auto mb-2">"Thanks to ArtistryLab's talented instructors, I've discovered a new passion for painting and developed my artistic skills in ways I never thought possible.
                        I highly recommend their personalized tutoring services to anyone looking to unlock their creative potential."</span>
                    <span class="text-black text-center font-medium text-sm mt-1">- One of our talented students -</span>
                </div>
            </div>
            <div class="flex flex-col w-1/2">
                <div class="h-full items-center justify-center flex flex-col">
                    <div class="items-center flex flex-col  justify-center mb-5 w-full">
                        <span class="text-4xl text-black font-semibold mb-2 text-center">Welcome back to ArtistryLab!</span>
                        <span class="text-center text-black/60 font-medium text-sm mt-1 w-2/5">Pick up your journey right where you left off.</span>
                    </div>
                    <form method="post" class="items-center justify-center w-full">
                        <div class="flex flex-col  px-3 mb-4 items-center mx-auto w-full">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="w-2/5 mb-4">
                                <label for="name" class="block mb-0.5 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                                <input type="text" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm w-full rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Email" required="">
                            </div>
                            <div class="w-2/5">
                                <label for="password" class="block mb-0.5 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                                <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm w-full rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Password" required="">
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>
                        <button type="submit" class="text-black px-3 py-2 w-32 flex items-center text-center mx-auto text-xl font-semibold bg-mint hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-none rounded-2xl  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            Login
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
