{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}
    <section id="hero" class="">
        <div class="flex flex-col  w-full">
            <div class="relative h-96 w-full">
                <img src="{{ asset('build/images/painting-wallpaper.jpeg') }}" class="w-full h-full object-cover object-bottom"/>
                <div class="absolute bottom-5 mx-12 text-5xl font-semibold text-green-900">All Lectures</div>
            </div>
            <div class="flex flex-col">
                <div class="w-full flex items-end mt-10 justify-end ">
                    <div class="flex items-center rounded-2xl w-64 h-10  border border-black mx-12">
                        <img src="{{ asset('build/images/search.svg') }}" class="ml-3" alt="">
                        <input class="w-full focus:outline-none rounded-2xl mx-2 h-full text-black text-md font-normal placeholder:text-gray-700" placeholder="Search..."/>
                    </div>
                </div>
            </div>
            <div class="flex mx-12 mt-10">
                <div class="w-1/4 flex flex-col">
                    <div class="text-2xl font-semibold mb-10">Narrow by:</div>
                    <div class="flex flex-col mb-4">
                        <div class="text-lg font-semibold mb-2">Type</div>
                        <div class="flex items-center space-x-2">
                            <input id='music-filter' type="checkbox">
                            <label for="music-filter" class="text-md rounded-xl">Music</label>
                        </div>
                        <div class="flex items-center space-x-2">
                            <input id='arts-filter' type="checkbox">
                            <label for="arts-filter" class="text-md rounded-xl">Arts</label>
                        </div>
                        <div class="flex items-center space-x-2">
                            <input id='sculpture-filter' type="checkbox">
                            <label for="sculpture-filter-filter" class="text-md rounded-xl">Sculpture</label>
                        </div>

                    </div>
                    <div class="flex flex-col mb-4">
                        <div class="text-lg font-semibold mb-2">Method</div>
                        <div class="flex items-center space-x-2">
                            <input id='remote-filter' type="checkbox">
                            <label for="remote-filter" class="text-md rounded-xl">Remote</label>
                        </div>
                        <div class="flex items-center space-x-2">
                            <input id='in-person-filter' type="checkbox">
                            <label for="in-person-filter" class="text-md rounded-xl">In Person </label>
                        </div>

                    </div>

                </div>
                <div class="w-3/4 flex flex-col">
                    <div class="grid grid-cols-3 gap-x-3 gap-y-5">
                        {% for i in 0..10 %}
                        <div class="flex flex-col rounded-b-3xl shadow-lg pb-6">
                            <img class="h-40 object-none rounded-t-3xl" src="{{ asset('build/images/image.41a72287.jpg') }}">
                            <div class="flex flex-col px-4 py-2">
                                <div class="text-end text-xs text-black/50">1 hour</div>
                                <div>
                                    <div class="font-semibold text-sm mt-2 mb-3 ">Never too old to learn a new instrument - Piano lesson beginner level </div>
                                    <div class="font-semibold text-sm text-black/60">Yana Mitchell</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

    </section>



    <footer>
        <div class="flex h-72 bg-black items-center">
            <span class="text-white text-2xl uppercase mx-auto">footer</span>
        </div>
    </footer>
{% endblock %}
