<footer>
    <div class="flex h-72 bg-black">
        <div class="mx-auto flex items-center font-semibold space-x-20 text-white">
            <div class="flex flex-col">
                <span class="text-xl">Shop</span>
                <span class="text-lg">All items</span>
                <span class="text-lg">Music Items</span>
                <span class="text-lg">Arts Items</span>
            </div>
            <div class="flex flex-col">
                <span class="text-xl">Lectures</span>
                <span class="text-lg">Music lectures</span>
                <span class="text-lg">Art lectures</span>
                <span class="text-lg">Sculpture</span>
            </div>
            <div class="flex flex-col">
                <span class="text-xl">Profile</span>
                <span class="text-lg">Login</span>
                <span class="text-lg">Register</span>
                <span class="text-lg">My profile</span>
            </div>
            <div class="flex flex-col">
                <span class="text-xl">Contact Me</span>
                <span class="text-lg">Alissa Cenga</span>
                <span class="text-lg">alissa.cenga@gmail.com</span>
                <span class="text-lg">+355 69 84 36 261</span>
            </div>
        </div>

    </div>
</footer>